

/* Index */
.d-item {
    height: 600px;
}

.d-img {
    height: 100%;
    object-fit: cover;
    
}

.carousel-caption {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.container-promociones {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 500px);
    
    
    grid-template-areas: 
    'uno dos tres'
    'cuatro cinco seis'
    ;
}

.items-promociones img {
    height: 300px;
    transition: all .5s;
}

.items-promociones figure {
    overflow: hidden;
}

.items-promociones:hover img {
    transform: scale(1.1);
}


.items-promociones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
    border-radius: 10px;
}

.items-promociones:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}
    
.primero {
    grid-area: uno;
    
}

.segundo {
    grid-area: dos;
    
}

.tercero {
    grid-area: tres;
    
}

.cuarto {
    grid-area: cuatro;
    
}

.quinto {
    grid-area: cinco;
    
}

.sexto {
    grid-area: seis;
    
}

.title-promociones {
    display: flex;
    justify-content: center;
    background-color: lightslategray;
    color: black;
    margin-top: 1em;
}


@media (min-width: 1200px) {
    header {
      padding: 2em 5em;
    }
  
    .d-item {
      height: 800px;
    }
  
    .items-promociones img {
      height: 400px;
    }
  
    .price {
      font-size: 16px;
    }
  
    .boton {
      padding: 15px 30px;
      font-size: 16px;
    }
  
    footer {
      padding: 2em 5em;
    }
  }
  
  /* Estilos para pantallas medianas */
  @media (max-width: 1199px) and (min-width: 768px) {
    header {
      padding: 2em 3em;
    }

}
  
    @media (max-width: 767px) {
        header {
          padding: 1em;
        }
      
        nav ul li a {
          padding: 0.5em;
        }
      
        .d-item {
          height: 400px;
        }
      
        .items-promociones img {
          height: 200px;
        }
      
        .price {
          font-size: 8px;
        }
      
        .boton {
          padding: 10px 20px;
          font-size: 8px;
        }
      
        footer {
          padding: 1em;
        }
      }

      @media (max-width: 480px) {
        header {
          padding: 0.5em;
        }
      
        nav ul li a {
          padding: 0.3em;
          font-size: 12px;
        }
      
        .d-item {
          height: 300px;
        }
      
        .items-promociones img {
          height: 150px;
        }
      
        .price {
          font-size: 6px;
        }
      
        .boton {
          padding: 8px 15px;
          font-size: 6px;
        }
      
        footer {
          padding: 0.5em;
        }
      }
  