
/* Sobre nosotros */

.somos-container {
    width: 80%;
    margin: 4.6em auto;
    
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.somos-img {
    width: 60%;
}

.somos-map {
    margin-top: 20px;
    width: 60%;
    height: 20em;
}

.somos-container > .somos-content {
    grid-column: span 3;
}

.somos-container > .images-somos{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.somos-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.somos-content > .article {
    background: lightslategray;
    padding: 2em;
    margin: 1.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.somos-content .article p {
    padding: 10px;
}

/* Media queries */
@media (max-width: 768px) {
    .somos-container {
      grid-template-columns: 1fr;
    }

    .somos-container>.somos-content {
      grid-column: auto;
    }

    .somos-container>.images-somos {
      grid-column: auto;
    }

    .somos-img,
    .somos-map {
      width: 100%;
    }
  }

  @media (max-width: 576px) {
    .somos-container {
      width: 90%;
    }

    .somos-container>.somos-content,
    .somos-container>.images-somos {
      margin: 2em 0;
    }
  }

