.price {
    margin: 20px;
    font-size: 10px;
    font-weight: 900;
}

.boton button {
    border: none;
    background: none;
    background-color: #0000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
}